body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
  }
  
  .sphere {
    fill: transparent;
  }
  
  .country {
    fill: darkgray;
    stroke: black;
    stroke-width: 0.05px;
  }
  
  .country:hover {
    fill: red;
  }